body {
    color: black;
    font-family: Arial, serif;
    font-size: 18px;
}

#trainer-list-table{
    font-size: 20px;

}
button{
    font-size: 20px;
}
a {
    color: brown;
    font-weight: bold;
    text-decoration: none;
}

.colored-tr{
    background-color: gray;
    height: 100px;
}
#menu{
    font-size: 30px;
    color: brown;
}
.uncolored-tr{
    background-color: lightgrey;
    height: 100px;
}
form label {
    display: inline-block;
    width: 150px;
}